@import 'nib'
@import 'slide.styl'

naranjita = #f92
blanco = #eee

body
	margin 0 auto
	padding 0
a
	font-weight bold
a:hover
	color red
	transition .3s
hr 
	border-color naranjita
h1, h2, h3, h4, h5,h6
	font-family 'Raleway',Tahoma, Helvetica, sans-serif
	font-smooth always
	color naranjita
	text-shadow 2px 1px 1px #222
	.glyphicon
	.fa
		color naranjita
p, ul, li, a, address
	color #333
	font-family 'Lato' Arial Tahoma Helvetica sans-serif
	font-smooth always
footer
	background-color #555
	border-top 3px solid naranjita
	color blanco
	a
		color naranjita
	a:hover 
	p	
		color blanco
	h2 
		color blanco
	.glyphicon
	.fa
		color blanco
//ID's//
#content
	a
		color naranjita
	a:hover
		color #333
		transition .3s
	.btn
		background-color silver
		color #333
		font-weight bold	
#desc
	margin-top: 15%
	z-index 70
#glass
	background-color: rgba(45,45,50,0.5)
#about
	background-image url(../img2/lens.jpg)
	background-position center
	background-repeat no-repeat
	background-size 100%
	color #fff
	text-shadow 2px 2px #333
	p 
		color blanco
	
#contact
	background-image url(../img2/web1.jpg)
	background-repeat no-repeat
	background-position center
	background-size 100%
	color #333
	height 300px
	text-shadow 2px 2px #fff
#cms
	background-image url(../img2/diweit-cms.jpg)
	background-repeat no-repeat
	background-position center
	color #333
	text-shadow 2px 2px #fff
#faq
	background-color #fff
#host
	background-image url(../img2/datacenter.jpg)
	background-repeat no-repeat
	background-position center
	color blanco
	height 300px
	text-shadow 2px 2px #333
	p 
		color blanco
#design
	background-image url(../img2/screen.jpg)
	background-repeat no-repeat
	background-position center
	color blanco
	height 300px
	text-shadow 2px 1px #333
	p 
		color blanco
#port
	background url(../img2/portfolio.jpg) no-repeat, center
	background-size 100%
	color blanco
	height 300px
	text-shadow 2px 2px #333
	p 
		color blanco
#seo
	background-color #fff
	background url(../img2/seo.jpg)no-repeat bottom right
	background-size 34%
	text-shadow 2px 2px #222
	height 300px
	p, h1
		color #777
		
#logo
	position: absolute
	left: 0
	top: 0
	width: 280px
	height: 0px
	z-index 90
	img
		position absolute
		left 20px
		top 20px
		width 78%
#menu
	background-color rgba(50,52,55,.6)
	border-radius 5px
	color blanco
	height 50px
	position absolute
	right 8%
	top 6%
	z-index 99
	a
		color blanco
	a:hover
		background-color naranjita
		color #333
		transition .3s
		transition-timing-function ease-out
	.active
		a
			background-color naranjita
			color #333
	li
		padding 5px

		ul
			background-color rgba(50,52,55,.7)
			a:hover
				font-weight bold
				transition .3s
				transition-timing-function ease-out
			li
				font-weight bold
			:focus
				background-color naranjita
				
#scroll
	background-color naranjita
	border-radius 0 0 6px 6px
	font-size 30px
	padding 7px
	position absolute
	right 0
	:hover
		font-size 35px
		padding -5px
		transition .4s

//Classes//

.big
	font-size: 2.5em
	font-weight bold
.circle
	background-color #333
	border 8px solid naranjita
	border-radius 50%
	box-shadow 3px 3px 3px rgba(80,80,80,1)
	color blanco
	font-family 'Raleway' Arial
	font-weight bold
	height 180px
	margin-left auto
	margin-right auto
	margin-top 13%
	margin-bottom 27%
	padding-top 1.6em
	text-align center
	width 180px
.circle a
	color blanco
.circle a:hover
	color: naranjita
	font-weight: bold
	text-decoration: none
	transition .2s
.fb-like-box
.icon-bar
	background-color blanco
.header
	border-bottom 3px solid naranjita
	padding-top 9em
	h1
		color blanco
		font-size 4.2em
	p 
		font-size 1.5em
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus
	background-color naranjita
.green
	color #7cca23

.red
	color #f20