header
  font-size: 18px
  background-image: url(../img/web2.jpg)
  background-position: center
  background-size: cover
  border-bottom 5px solid #f92
  
.h2-slide
  font-weight: bold
  color: #eee
  font-size: 3em  
  text-shadow: 1px 3px #222
  margin: 0.35em
  margin-bottom: -30px
  padding: 0.35em
  animation-name: fade
  animation-duration: 6s
  animation-fill-mode: forwards
  animation-interation-count: 1
  
@keyframes fade
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 60px
@keyframes fade
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 60px
@keyframes fade
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 60px
@keyframes fade
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 60px
#fbtn
  animation-name: fbtn
  animation-duration: 2s
  animation-fill-mode: forwards
  animation-interation-count: 1
  

@keyframes fbtn
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 100px
@keyframes fbtn
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 100px
@keyframes fbtn
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 100px
@keyframes fbtn
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 100px
#p-slide
  color: #eee
  font-size: 1em
  text-shadow: 1px 3px #222
  margin: 0.35em
  padding: 0.35em
  animation-name: fadep
  animation-duration: 3s
  animation-fill-mode: forwards
  animation-interation-count: 1

@keyframes fadep
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 80px
@keyframes fadep
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 80px
@keyframes fadep
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 80px
@keyframes fadep
  from
    opacity: 0
    margin-left: 0px
  to
    opacity: 100%
    margin-left: 80px
